<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Our cars</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <%- include("template/nav.ejs") %>
    <main>
      <h2>Página no encontrada.</h2>
      <section>
        <img src="/img/oops-og.webp" alt="Not found page, descriptive image">
      </section>
    </main>
    <footer>
      <p>Copyright &copy; 2024</p>
    </footer>
  </body>
</html>
