<%- include('./templates/head.ejs') %>
<body>
    <header>
        <%- include('./templates/nav.ejs') %>
        <h1 class="text-center my-4">Alquila-me el carro</h1>
        
    </header>
    <main class="container-sm">

    </main>
    
</body>
</html>