<%- include('./templates/head.ejs') %>
<body>
    <header class="container my-4">
        <h1 class="text-center">Alquila-me el carro</h1>
    </header>
    <main class="container-sm">

    </main>
    <!-- <script src="https://cdn.jsdelivr.net/npm/simple-datatables@9.0.3/dist/umd/simple-datatables.min.js"></script>
    <script src="js/script.js"></script> -->
</body>
</html>
