@keyframes red2yell{
    0%   {color: rgba(255, 0, 0, 0.2); left:0px; top:0px;}
    20%  {color: rgba(255, 223, 0, 0.8); left:200px; top:0px;}
    40%  {color: rgba(0, 191, 255, 0.6); left:200px; top:200px;}
    60%  {color: rgba(0, 255, 127, 0.2); left:0px; top:200px;}
    80%  {color: rgba(255, 127, 80, 0.8); left:0px; top:0px;}
    100% {color: rgba(255, 0, 0, 0.2); left:200px; top:200px;}
}
body {
    margin: 0;
}

blockquote {
    animation: 20s linear 20ms red2yell;
}

blockquote:hover{
    animation: 1s  ease-in-out infinite alternate red2yell;
}
header{
    width: 100%;
}
img{
    width: 100%;
}
main{
   
    text-align: center;
    
}
span {
    color: aquamarine;
}
footer {
    background-color: gray;
    color: whitesmoke;
}
.padre {
    max-width: 90%;
    height: 600px;
    border: 10px solid black;
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
}

.hijo {
    background: #ccc;
    border: 5px solid red;
    width: 100px;
    height: 100px;

}

