<header>
    <div>
      <img src="/logo/bunny.webp" alt="" />
      <h1>White Rabbit Inc</h1>
    </div>

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <% tipos.forEach(tipo => { %>
            <li><a href="/departamento/<%= tipo.departamento %>"><%= tipo.departamento %></a></li>
            <% }) %>
          </ul>
    </nav>
  </header> 